<body class="bg-light">
<div class= "card p-2 bg-dark text-center text-white m-5">
    <h1 class="display-1 bg-light text-dark text-center p-4 m-4">New Article</h1>

    <section class="text-center text-uppercase p-4">
        <%= render "form", article: @article %>
    </section>
    </div>
</body>